<article>
  <header>
    <h1 class="title">
      {{#link-to model.type model.slug}}{{{model.title}}}{{/link-to}}
    </h1>
    <time class="published">Posted {{model.date}}</time>
    <p class="author">By {{model.author.name}}</p>
  </header>
  <div class="entry-content">
    {{{model.content}}}
  </div>
  <div class="taxonomies">
    {{#if model.tags}}
    <div class="tax-tags">
      <p>
        Tagged
        <ul>
          {{#each tag in model.tags}}
            <li>{{tag.name}}</li>
          {{/each}}
        </ul>
      </p>
    </div>
    {{/if}}

    {{#if model.categories}}
    <div class="tax-cats">
      Categories:
      <ul>
        {{#each category in model.categories}}
          <li>{{category.name}}</li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
</article>
